In [18]:
import pandas as pd
import numpy as np

In [2]:
import pyodbc

In [4]:
data = pd.read_csv ('https://github.com/anoohya23/bank-Customers/raw/master/P6-UK-Bank-Customers.csv')

In [5]:
print(data)

      Customer ID       Name   Surname  Gender  Age            Region  \
0       100000001      Simon     Walsh    Male   21           England
1       400000002    Jasmine    Miller  Female   34  Northern Ireland
2       100000003       Liam     Brown    Male   46           England
3       300000004     Trevor      Parr    Male   32             Wales
4       100000005    Deirdre   Pullman  Female   38           England
...           ...        ...       ...     ...  ...               ...
4009    200004010        Sam     Lewis    Male   64          Scotland
4010    200004011      Keith    Hughes    Male   52          Scotland
4011    200004012     Hannah  Springer  Female   50          Scotland
4012    200004013  Christian      Reid    Male   51          Scotland
4013    300004014    Stephen       May    Male   33             Wales

     Job Classification Date Joined    Balance
0          White Collar   05.Jan.15  113810.15
1           Blue Collar   06.Jan.15   36919.73
2          White Collar   07.Jan.15  101536.83
3          White Collar   08.Jan.15    1421.52
4           Blue Collar   09.Jan.15   35639.79
...                 ...         ...        ...
4009              Other   30.Dec.15   19711.66
4010        Blue Collar   30.Dec.15   56069.72
4011              Other   30.Dec.15   59477.82
4012        Blue Collar   30.Dec.15     239.45
4013        Blue Collar   30.Dec.15   30293.19

[4014 rows x 9 columns]

In [30]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-28C21QU;'
                      'Database=powerbi;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [31]:
df = pd.DataFrame(data, columns= ['CustomerID','Name','Surname','Gender','Age','Region','JobClassification','DateJoined','Balance'])

In [32]:
df.replace([np.inf, -np.inf], np.nan, inplace = True)
df = df.fillna(0)

In [36]:
cursor.execute('CREATE TABLE Customerss (CustomerID int,Name nvarchar(50),Surname nvarchar(50),Gender nvarchar(50),Age int,Region nvarchar(50),JobClassification nvarchar(50),DateJoined datetime,Balance float)')

In [28]:
cursor.execute('CREATE TABLE people_info (Name nvarchar(50), Country nvarchar(50), Age int)')

In [37]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO [powerbi].[dbo].[Customerss] (CustomerID,Name,Surname,Gender,Age,Region,JobClassification,DateJoined,Balance)
                VALUES (?,?,?,?,?,?,?,?,?)
                ''',
                row.CustomerID, 
                row.Name,
                row.Surname,
                row.Gender, 
                row.Age,
                row.Region,
                row.JobClassification, 
                row.DateJoined,
                row.Balance
                )
conn.commit()